@import url('https://fonts.googleapis.com/css?family=Montserrat');
$black: #000000;
$white: #FFFFFF;
$gray: #6A696B;

html {
  font-family: Montserrat, sans-serif;
}

.logo-label span {
  display: block;
}

.logo {
  .name {
    font-weight: bold;
    font-size: 1rem;
  }

  .title {
    font-size: 0.7rem;
    opacity: 0.7;
  }
}

.image-container {
  display: inline-block;
}

.logo-label {
  display: inline-block;
  padding-left: 0.5rem;
}

ul {
  padding-left: 0;
  display: flex;

  li {
    list-style-type: none;
    //padding: 0 1rem;
    margin: 0 1rem;
    font-weight: bold;
    font-size: 0.875rem;
  }
}

.navigation ul li a {
  text-decoration: none;
  color: black;
}

.button {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border: $black 1px solid;
  border-radius: 1rem;
}

.button-white {
  color: $black;
}

.button-black {
  color: $white;
  background: $black;
}

.button-gray {
  color: $gray;
  border-color: $gray;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
}

.intro span {
  display: block;
}

.hello {
  font-size: 32px;
  font-weight: lighter;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .name {
    font-size: 45px;
    font-weight: bold;
  }

  .title {
    font-size: 18px;
    opacity: 0.7;
  }

  ul li {
    margin: 0 0.5rem 0 0;
  }
}

.cta .button-gray {
  margin-left: 1rem;
}

