@import url('https://fonts.googleapis.com/css?family=Montserrat');
$black: #000000;
$white: #FFFFFF;
$gray: #6A696B;

.App {
  width: 1440px;
  margin: 0 auto;
}

html {
  font-family: Montserrat, sans-serif;
}

.logo {
  .name {
    font-weight: bold;
    font-size: 1rem;
  }

  .title {
    font-size: 0.7rem;
    opacity: 0.7;
  }
}

.image-container {
  display: inline-block;
}

.logo-label {
  display: inline-block;
  padding-left: 0.5rem;
  
  span {
    display: block;
  }
}

ul {
  padding-left: 0;
  display: flex;

  li {
    list-style-type: none;
    margin: 0 1rem;
    font-weight: bold;
    font-size: 0.875rem;
  }
}

.navigation ul li a {
  text-decoration: none;
  color: black;
}

%button {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border: $black 1px solid;
  border-radius: 1rem;
}

.button-white {
  @extend %button;
  color: $black;
}

.button-black {
  @extend %button;
  color: $white;
  background: $black;
}

.button-gray {
  @extend %button;
  color: $gray;
  border-color: $gray;
}

.button-bold {
  @extend %button;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid;
  border-radius: 20px;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  width: 1180px;
  margin-left: 135px;
}

.intro span {
  display: block;
}

.hello {
  font-size: 32px;
  font-weight: lighter;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/photo1.png");
  background-repeat: no-repeat;
  height: 500px;
  width: 1180px;
  margin-left: 135px;
  .name {
    font-size: 45px;
    font-weight: bold;
  }

  .title {
    font-size: 18px;
    opacity: 0.7;
  }

  ul li {
    margin: 0 0.5rem 0 0;
  }
}

.cta .button-gray {
  margin-left: 1rem;
}

.category-container {
  display: flex;
  justify-content: center;
}

.project-list {
  display: flex;
  margin-bottom: 45px;
}

.project-item {
  border-radius: 10px;
  margin: 0 45px 0 0;
}

.project-item:last-child{
  margin-right: 0;
}

.project-image {
  background-color: #6A696B;
  border-radius: 10px 10px 0 0;
  width: 370px;
  height: 300px;
}

.project-category {
  font-size: 12px;
  color: #2b2a2c;
  text-transform: uppercase;
  margin-bottom: 8px;
  display: block;
}

.project-summary {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.project-content {
  padding: 10px 8px;
  border: #6A696B 1px solid;
  border-radius: 0 0 10px 10px;
}

.porfolio {
  margin-bottom: 126px;
  width: 1180px;
  margin-left: 135px;
  .button-container {
    text-align: center;
  }
}

.about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
  margin-left: 135px;

  .right {
    .text-container {
      display: block;
    }
  }
  .text-description {
    margin-top: 0;
    text-align: left;
    font-size: 12px;
    color: #6A696B;
    line-height: 24px;
  }
  .description {
    margin-bottom: 40px;
  }
  .left {
    margin-right: 59.6px;
  }
}

.text-aboutme {
  display: block;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: bold;
}

.text-whoami {
  display: block;
  text-transform: uppercase;
  font-size: 92px;
  font-weight: bold;
  opacity: 0.15;
}

.quote {
 .sentence-background {
    position: relative;
  }
  .sentence {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 70%;
    transform: translate(-50%,-50%);
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
  }
  .avatar {
    text-align: center;
    margin-top: -50px;
    position: absolute;
    width: 1440px;
    .image-container {
      border-radius: 50px;
      border: 4px solid white;
    }
    .full-name {
      display: block;
      font-size: 16px;
      line-height: 22px;
      font-weight: bold;
    }
    .title {
      color: #6A696B;
      font-size: 14px;
      line-height: 22px;
      font-style: italic;
    }
    .rate-container {
      text-align: center;
    }
  }
}

.read-me {
  margin-top: 220px;
  width: 1180px;
  margin-left: 135px;
  .text-container {
    text-align: center;
    .title {
      display: block;
      font-size: 45px;
      text-transform: uppercase;
      line-height: 45px;
      font-weight: bold;
      margin-bottom: 4px;
    }
    .sentence {
      font-size: 18px;
      color: #8C8C8D;
      line-height: 24px;
      font-weight: lighter;
    }
  }

  .paper-container {
    margin-bottom: 122px;
    .overview {
      background-color: #6A696B;
      width: 370px;
      height: 257px;
    }
    .item-overview {
      position: relative;
      margin-bottom: 18px;
    }
    .date {
      position: absolute;
      background-color: #000000;
      width: 77px;
      height: 77px;
      color: #FFFFFF;
    }
    .date-text {
      margin: 17px 23px 18px 22px;
      text-align: center;
    }
    .day {
      display: block;
    }
    .item-summary {
      margin-bottom: 23px;
      .title {
        display: block;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 7px;
        text-transform: uppercase;
      }
      .category {
        display: block;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        margin-bottom: 23px;
      }
      .summary {
        font-size: 12px;
        color: #6A696B;
        line-height: 24px;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #2B2A2C;
  align-items: center;
  .left {
    display: flex;
    align-items: center;
    margin-left: 135px;
  }
  .copy-right {
    color: #8D8D8E;
    font-size: 14px;
  }
  .navigation {
    margin-right: 135px;
    a {
      color: #8D8D8E;
    }
  }
  .button-white {
    border-color: #8D8D8E;
    text-transform: uppercase;
    font-size: 14px;
  }
}

.social-button img {
  width: 14px;
  height: auto;
}

.social-button {
  li {
    margin-left: 5px;
    margin-right: 5px;
  }
}
